// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.navbar-pict {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  max-width: 1100px;
  padding: 0 24px;
}

.navbar-container {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    color: white;
    &:hover {
      color: #cca459;
      transition: 0.3s ease-out;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: -22px;
    text-align: center;
    margin-top: 16px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  li {
    height: 80px;
    padding: 0 24px;
  }
}

.navbtn {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
  a {
    border-radius: 50px;
    background: linear-gradient(90deg, #cf7500, #cca459);
    white-space: nowrap;
    padding: 10px 64px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 180px;
    align-self: center;
    height: 72%;
    &:hover {
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #010606;
    }
  }
}

.navlogo {
  color: #fff;
  height: 80px;
  display: flex;
  justify-self: flex-start;
  cursor: pointer;
  align-items: center;
  margin-left: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  img {
    color: #fff;
    height: 120px;
    display: flex;
    justify-self: flex-start;
    cursor: pointer;
    align-items: center;
    margin-left: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    @media screen and (max-width: 768px) {
      margin-left: -24px;
    }
  }
}
